/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
.breadcrumb {
  padding: 8px 12px;
  background-color: rgba(0, 36, 73, 0.59);
  
}

.breadcrumb > li a,
.breadcrumb > li span {
  color: #74869b;
}

.breadcrumb > li a:hover {
  color: #fff;
}

.breadcrumb > li + li:before {
    padding: 0 0 0 7px;
}
