/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
.breadcrumb-row {
	margin-left: 0;
	margin-right: 0;
}

.breadcrumb {
  padding: 8px 12px;
  background-color: inherit;
  border-radius: 0;
  margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}

@media (max-width: 320px) {
	.breadcrumb  {
	  letter-spacing: -0.1rem;
	}
  }

.breadcrumb > li a,
.breadcrumb > li span {
  color: #ccc;
}

.breadcrumb > li a:hover {
  color: #ccc;
}

.breadcrumb > li + li:before {
    padding: 0 0 0 7px;
}

.breadcrumb-currency-picker {
	margin-bottom: -1px;
	padding-bottom: 0;
	margin-left: 0;
}

.breadcrumb-currency-picker > ul {
	margin-bottom: 0;
	padding: 1px 12px;
	list-style-type: none;
	float: right;
	background-color: white;
	border-radius: 8px 8px 0 0;
}

.breadcrumb-currency-picker > ul:first-of-type {
	margin-left: 12px;
}
