<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="row breadcrumb-row">
	<div class="col-sm-7">
		<ol class="breadcrumb">
			<li data-ng-repeat="section in sections">
				<a class="text-capitalize" data-ng-if="section.url != '#'" href="{{section.url}}">{{section.name | alterWordSeparation: 'spaceSeparated'}}</a>
				<span class="text-capitalize" data-ng-if="section.url == '#'">{{section.name | alterWordSeparation: 'spaceSeparated'}}</span>
			</li>
		</ol>
	</div>
	<div class="col-sm-5 breadcrumb breadcrumb-currency-picker pull-right">
		<ul class="hidden-xs"><currency-selector /></ul>
		<ul class="hidden-xs"><rounding-selector /></ul>
	</div>
</div>


