<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="cookies-banner">
	<div class="container fadein" data-ng-show="visible">
		<p>When accessing our website, we obtain and process your personal data. We also use cookies to improve your experience on our site. To find out more about our use of your data, read our updated <a href="https://lisk.io/privacy">privacy policy</a>. To continue using our website, click „I accept“.</p>
		<a href="#" data-ng-click="clicked()" class="btn btn-primary see-all-blocks bordered-button">I accept</a>
	</div>
</div>
