<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="delegate-vote" data-ng-show="votes && votes.length > 0">
	<h1>
		<a href="" data-ng-show="!showVotes" data-ng-click="showVotes=!showVotes" class="show-votes-button"><small><i class="fa fa-plus-square-o"></i></small></a>
		<a href="" data-ng-show="showVotes" data-ng-click="showVotes=!showVotes" class="hide-votes-button"><small><i class="fa fa-minus-square-o"></i></small></a> Votes <small>{{votes.length}}</small>
	</h1>
	<div class="row votes horizontal-adding-l" data-ng-init="showVotes=false" data-ng-show="showVotes">
		<div class="col-md-12">
			<span data-ng-repeat='vote in votes'>
				<span data-ng-if="!$last">
					<a data-account-href="vote" data-type="vote" class="vote-link">{{vote | votes}}</a>
					<span class="text-muted">&bull;</span>
				</span>
				<span data-ng-if="$last">
					<a data-account-href="vote" data-type="vote" class="vote-link">{{vote | votes}}</a>
				</span>
			</span>
		</div>
	</div>
</div>
