<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<li class="dropdown" data-uib-dropdown>
	<a class="dropdown-toggle LSK-menu" id="main-currency-selector" data-uib-dropdown-toggle data-aria-haspopup="true" role="button" data-aria-expanded="false">
		<span class="visible-xs">Currency&nbsp;<span class="caret"></span></span>
		<span class="hidden-xs">{{currency.symbol}}&nbsp;<span class="caret"></span></span>
	</a>
	<ul class="dropdown-menu currency-selector" role="menu" data-aria-labelledby="main-currency-selector">
		<li ng-class="key">
			<a data-ng-click="cs.setCurrency('LSK')"
			data-ng-class="{active: currency-code.symbol == 'LSK'}" class="LSK">
				<span class="currency-name">{{'LSK' | currencyCodeToName}}</span>
				<span class="currency-code">LSK</span>
			</a>
		</li>

		<span data-ng-repeat-start="(tickerGroup, groupCodes) in tickers"></span>
		<li data-ng-if="groupCodes.length > 0" role="separator" class="divider hidden-xs" style="clear:both;"></li>
		<li data-ng-if="groupCodes.length > 0" class="dropdown-header" style="clear:both;">{{tickerGroup}}</li>

		<li data-ng-repeat="ticker in groupCodes" ng-class="key">
			<a data-ng-click="cs.setCurrency(ticker.code)"
			data-ng-class="{active: currency-code.symbol == {{ticker.code}}}" class="{{ticker.code}}">
				<span class="currency-name">{{ticker.code | currencyCodeToName}}</span>
				<span class="currency-code">{{ticker.code}}</span>
			</a>
		</li>
		<span data-ng-repeat-end></span>
	</ul>
</li>
