<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<section>
	<h1>Transactions</h1>
	<div class="text-muted" data-ng-if="!vm.txs">
		<span>Loading Transaction <i class="fa fa-spinner fa-spin"></i>
	</div>
	<div data-ng-init="vm.txs.loadData()">
		<transactions-list data-txs="vm.txs"></transactions-list>
	</div>
</section>
