<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<section>
	<h1>
		{{vm.block.id}}&nbsp;
		<br />
		<small>Block with {{vm.block.numberOfTransactions}} transaction{{vm.block.numberOfTransactions != 1 ? 's' : '' }}</small>
	</h1>
	<div class="text-muted" data-ng-if="!vm.block.height">
		<span>Loading Block <i class="fa fa-spinner fa-spin"></i>
	</div>
	<span data-ng-if="vm.block.height">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table summary">
						<tbody>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Block ID</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.id}}<span class="btn-copy" clip-copy="vm.block.id"></span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Height</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.height}}<span class="btn-copy" clip-copy="vm.block.height"></span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Number of transactions</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.numberOfTransactions}}</td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Confirmations</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.confirmations}}</td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Reward</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.reward | currency:$root.currency:$root.decimalPlaces}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Total Fee</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.totalFee | currencyFee:$root.currency:$root.decimalPlaces}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Total Forged</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.totalForged | currency:$root.currency:$root.decimalPlaces}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Total Amount</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.totalAmount | currency:$root.currency:$root.decimalPlaces}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Timestamp</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.timestamp | timestamp}}</td>
							</tr>
							<tr data-ng-if="block.nextBlock">
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Next block</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">
									<a href="/block/{{ vm.block.nextBlock }}">{{ vm.block.nextBlock }}</a>
								</td>
							</tr>
							<tr data-ng-if="vm.block.previousBlock">
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Previous block</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">
									<a href="/block/{{ vm.block.previousBlock }}">{{ vm.block.previousBlock }}</a>
								</td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Generated by</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">
									<a data-account-href="vm.block.delegate">{{vm.block.delegate.username || vm.block.generatorId}}</a>
								</td>
							</tr>
							<tr>
								<td class='left-padding-xs left-padding-s left-padding-m left-padding-l double'><strong>Version</strong></td>
								<td class="right-padding-xs right-padding-s right-padding-m right-padding-l double text-right">{{vm.block.version}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</span>
	</div>
	<div data-ng-if="vm.block.height" data-ng-init="vm.txs.loadData()">
		<h1>Transactions</h1>
		<transactions-list data-txs="vm.txs"></transactions-list>
	</div>
</section>
