<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="alert alert-danger" data-ng-if="flashMessage">
	{{$root.flashMessage}}
</div>
<section>
	<h1>
		Lisk Blockchain Explorer
		<br />
		<small><span>{{vm.totalActive || 0}} active delegates, last block forged 5 seconds ago</span></small>
	</h1>

	<div class="row horizontal-padding-xs horizontal-padding-s horizontal-padding-m horizontal-padding-l">
		<div class="col-lg-7">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="pull-left delegates">
								<p class="small-title">Delegates</p>
								<p class="big-details">
									<span class="total-delegates">{{vm.totalDelegates || 0}}</span>
								</p>
								<p class="text-muted total-active">{{vm.totalActive || 0}} active delegates</p>
								<p class="text-muted total-standby">{{vm.totalStandby || 0}} delegates on standby</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="pull-left last-block">
								<p class="small-title">Last Block By</p>
								<p class="big-details" data-ng-switch="!!vm.lastBlock">
									<a data-account-href="vm.lastBlock.delegate" data-type="delegate" data-ng-switch-when="true">{{vm.lastBlock.delegate.username}}</a>
									<span class="text-muted" data-ng-switch-when="false">N/A</span>
								</p>
								<p class="text-muted" data-ng-switch="!!vm.lastBlock">
									<a data-ng-href="/block/{{vm.lastBlock.id}}" data-ng-switch-when="true">{{vm.lastBlock.id}}</a>
									<span class="text-muted" data-ng-switch-when="false">N/A</span>
								</p>
								<p class="text-muted">
									<span class="lisk">{{vm.lastBlock.totalForged || 0 | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}} forged</span>
									<span class="num-trans">from {{vm.lastBlock.numberOfTransactions || 0}} transactions</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="latest-votes next-forgers">
								<p class="small-title">Next Forgers</p>
								<div>
									<div data-ng-if="!vm.nextForgers || vm.nextForgers.length === 0">
										<span>Waiting for next forgers <i class="fa fa-spinner fa-spin"></i></span>
									</div>
									<span data-ng-repeat='v in vm.nextForgers track by $index'>
										<div data-ng-if="$first">
											<p class="big-details">
												<a data-account-href="v" data-type="delegate">{{v.username}}</a>
											</p>
										</div>
										<span data-ng-if="!$first">
											<a data-account-href="v" data-type="delegate">{{v.username}}</a>
											<span data-ng-if="!$last" class="text-muted">&bull;</span>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-5">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="pull-left active-nodes">
								<p class="small-title">Connected Peers</p>
								<p class="big-details">
									<span class="connected-peers">{{vm.counter.connected || 0}}</span>
									<span class="text-muted">&nbsp;/&nbsp;</span>
									<span class="total-peers">{{vm.counter.total || 0}}</span>
								</p>
								<p class="text-muted disconnected-peers">{{vm.counter.disconnected || 0}} disconnected peers</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="pull-left last-block">
								<p class="small-title">Last Block</p>

								<div data-ng-if="!vm.lastBlock">
									<p class="big-details">
										<span class="text-muted">N/A</span>
									</p>
									<p class="text-muted">waiting for block <i class="fa fa-spinner fa-spin"></i></p>
								</div>
								<div data-ng-if="vm.lastBlock" class="last-block-loaded">
									<p class="big-details">
										<a data-ng-href="/block/{{vm.lastBlock.id}}">{{vm.lastBlock.id}}</a>
									</p>
									<p class="text-muted">
										<span class="lisk">{{vm.lastBlock.totalAmount + vm.lastBlock.totalFee || 0 | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span>
										<span class="num-trans">from {{vm.lastBlock.numberOfTransactions || 0}} transactions</span>
									</p>
									<p class="text-muted">{{vm.lastBlock.timestamp | timeAgo}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="row big-info">
						<div class="col-xs-12">
							<div class="pull-left volume">
								<p class="small-title">Volume <span class="text-muted">({{$root.currency.symbol}})</span></p>

								<p class="big-details">
									<span class="volume-amount">{{vm.volume.amount || 0 | currency:$root.currency:$root.decimalPlaces}}</span>
								</p>
								<div data-ng-if="!vm.volume.amount">
									<p class="text-muted">waiting for transactions <i class="fa fa-spinner fa-spin"></i></p>
								</div>
								<div data-ng-if="vm.volume.amount">
									<p class="text-muted vol-timespan">transferred within {{vm.volume.beginning | timeSpan:volume.end}}</p>
									<p class="text-muted vol-blocks">from {{vm.volume.txs || 0}} transactions in {{vm.volume.withTxs || 0}} / {{vm.volume.blocks ||
										0}} blocks</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div id="map" style="margin: 10px;margin-top: 30px;padding: 30px;border-radius:6px;border: lightgray 1px solid;height:295px;">&nbsp;</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2 class="left-padding-m left-padding-l">Latest transactions</h2>
			<div class="table-responsive">
				<table class="table table-hover table-striped latest-transactions">
					<thead>
						<tr>
							<th class="left-padding-xs left-padding-s left-padding-m left-padding-l double hidden-xs">Id</th>
							<th class="left-padding-xs">
								<span class="pull-left">Sender</span>
							</th>
							<th class="left-padding-xs">
								<span class="pull-left">Recipient</span>
							</th>
							<th class="right-padding-xs right-padding-s right-padding-m text-right">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-if="!vm.txs.length">
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double" colspan="6">Waiting for transactions...</td>
						</tr>
						<tr data-ng-repeat='tx in vm.txs track by $index'>
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double hidden-xs"><a class="ellipsis" href="/tx/{{tx.id}}">{{tx.id | middleEllipsis:10}}</a></td>
							<td class="left-padding-xs">
								<a class="ellipsis" data-ng-href="{{tx.hrefSender}}">
									<span class="pull-left">{{tx | txSender | middleEllipsis:10}}</span>
								</a>
							</td>
							<td class="left-padding-xs">
								<a class="ellipsis" data-ng-show="tx.type == 0" data-ng-href="{{tx.hrefRecipient}}">
									<span class="pull-left">{{tx | txRecipient | middleEllipsis:10}}</span>
								</a>
								<span class="ellipsis" data-ng-show="tx.type >= 1">
									<span class="pull-left">{{tx | txRecipient | middleEllipsis:12}}</span>
								</span>
							</td>
							<td class="right-padding-xs right-padding-s right-padding-m right-padding-l text-right">
								<span class="ellipsis">{{tx.amount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<h2 class="left-padding-m left-padding-l">Latest blocks</h2>
			<div class="table-responsive">
				<table class="table table-hover table-striped latest-blocks">
					<thead>
						<tr>
							<th class="left-padding-s left-padding-m left-padding-l double hidden-xs">Id</th>
							<th class="left-padding-xs">
								<span class="pull-left">Height</span>
							</th>
							<!-- <th class="text-right">Timestamp</th> -->
							<th class="right-padding-s text-right">
								<span class="">Txs.</span>
							</th>
							<th class="right-padding-xs right-padding-s text-right">Gen. by</th>
							<th class="text-right hidden-xs">Amount</th>
							<th class="right-padding-m right-padding-l double text-right">Forged</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-if="!vm.blocks.length">
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double" colspan="7">Waiting for blocks...</td>
						</tr>
						<tr data-ng-repeat='b in vm.blocks track by $index'>
							<td class="left-padding-s left-padding-m left-padding-l double hidden-xs"><a class="ellipsis" href="/block/{{b.id}}">{{b.id | middleEllipsis:10}}</a></td>
							<td class="left-padding-xs">
								<span class="ellipsis text-right">{{b.height}}</span>
								<!-- <a class="ellipsis pull-left" href="/block/{{b.id}}">{{b.height}}</a> -->
							</td>
							<!-- <td class="text-right hidden-xs hidden-sm"><span class="ellipsis">{{b.timestamp | timestamp}}</span></td> -->
							<td class="right-padding-s text-right">{{b.transactionsCount}}</td>
							<td class="right-padding-xs right-padding-s text-right">
								<a class="" href="/address/{{b.generator}}">{{b.delegate.username || b.generator | middleEllipsis:10}}</a>
							</td>
							<td class="text-right">{{b.totalAmount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</td>
							<td class="right-padding-m right-padding-l double text-right">{{b.totalForged | currencyFee:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</section>
