<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="alert alert-danger" data-ng-if="flashMessage">
	{{$root.flashMessage}}
</div>
<section>
	<div id="home" class="row">
		<div class="col-xs-12 col-md-12">
			<h1>Latest Transactions</h1>

			<div class="table-responsive">
				<table class="table table-hover table-striped latest-transactions">
					<thead>
						<tr>
							<th class="left-padding-xs left-padding-s left-padding-m left-padding-l double hidden-xs">Id</th>
							<th class="text-right hidden-xs hidden-sm hidden-md">Timestamp</th>
							<th class="left-padding-xs">
								<span class="pull-right hidden-xs">Sender</span>
								<span class="pull-left visible-xs">Sender</span>
							</th>
							<th class="left-padding-xs">
								<span class="pull-right hidden-xs">Recipient</span>
								<span class="pull-left visible-xs">Recipient</span>
							</th>
							<th class="right-padding-xs right-padding-s right-padding-m text-right">Amount</th>
							<th class="right-padding-l double text-right hidden-xs hidden-sm hidden-md">Fee</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-if="!vm.txs.length">
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double" colspan="6">Waiting for transactions...</td>
						</tr>
						<tr data-ng-repeat='tx in vm.txs track by $index'>
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double hidden-xs"><a class="ellipsis" href="/tx/{{tx.id}}">{{tx.id}}</a></td>
							<td class="text-right hidden-xs hidden-sm hidden-md"><span class="ellipsis">{{tx.timestamp | timestamp}}<span></td>
							<td class="left-padding-xs">
								<a class="ellipsis" data-account-href="tx" data-type="sender">
									<span class="pull-right hidden-xs">{{tx | txSender}}</span>
									<span class="pull-left visible-xs">{{tx | txSender | middleEllipsis:10}}</span>
								</a>
							</td>
							<td class="left-padding-xs">
								<a class="ellipsis" data-ng-show="tx.type == 0" data-account-href="tx" data-type="recipient">
									<span class="pull-right hidden-xs">{{tx | txRecipient}}</span>
									<span class="pull-left visible-xs">{{tx | txRecipient | middleEllipsis:10}}</span>
								</a>
								<span class="ellipsis" data-ng-show="tx.type >= 1">
									<span class="pull-right hidden-xs">{{tx | txRecipient}}</span>
									<span class="pull-left visible-xs">{{tx | txRecipient | middleEllipsis:12}}</span>
								</span>
							</td>
							<td class="right-padding-xs right-padding-s right-padding-m text-right">
								<span class="ellipsis hidden-xs">{{tx.amount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span>
								<span class="ellipsis visible-xs"><a class="ellipsis" href="/tx/{{tx.id}}">{{tx.amount | currencyFee:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</a></span>
							</td>
							<td class="right-padding-l double text-right hidden-xs hidden-sm hidden-md">
								<span class="ellipsis">{{tx.fee | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h1>Latest Blocks</h1>

			<div class="table-responsive">
				<table class="table table-hover table-striped latest-blocks">
					<thead>
						<tr>
							<th class="left-padding-s left-padding-m left-padding-l double hidden-xs">Id</th>
							<th class="left-padding-xs">
								<span class="pull-right hidden-xs">Height</span>
								<span class="pull-left visible-xs">Height</span>
							</th>
							<th class="text-right hidden-xs hidden-sm">Timestamp</th>
							<th class="right-padding-s text-right">
								<span class="hidden-xs hidden-sm">Transactions</span>
								<span class="visible-xs visible-sm">Txs.</span>
							</th>
							<th class="right-padding-xs right-padding-s text-right">Generated by</th>
							<th class="text-right hidden-xs">Amount</th>
                            <th class="right-padding-m right-padding-l double text-right">Forged</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-if="!vm.blocks.length">
							<td class="left-padding-xs left-padding-s left-padding-m left-padding-l double" colspan="7">Waiting for blocks...</td>
						</tr>
						<tr data-ng-repeat='b in vm.blocks track by $index'>
							<td class="left-padding-s left-padding-m left-padding-l double hidden-xs"><a class="ellipsis" href="/block/{{b.id}}">{{b.id}}</a></td>
							<td class="left-padding-xs">
								<span class="ellipsis text-right hidden-xs">{{b.height}}</span>
								<a class="ellipsis pull-left visible-xs" href="/block/{{b.id}}">{{b.height}}</a>
							</td>
							<td class="text-right hidden-xs hidden-sm"><span class="ellipsis">{{b.timestamp | timestamp}}</span></td>
							<td class="right-padding-s text-right">{{b.transactionsCount}}</td>
							<td class="right-padding-xs right-padding-s text-right">
								<a class="hidden-xs" href="/address/{{b.generator}}">{{b.delegate.username || b.generator}}</a>
								<a class="visible-xs" href="/address/{{b.generator}}">{{b.delegate.username || b.generator | middleEllipsis:10}}</a>
							</td>
							<td class="text-right hidden-xs">{{b.totalAmount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</td>
							<td class="right-padding-m right-padding-l double text-right">{{b.totalForged | currency:$root.currency:1}} {{$root.currency.symbol}}</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-group btn-group-justified paginator" role="group">
					<div class="btn-group" role="group">
						<a href="/blocks/" class="btn btn-default see-all-blocks bordered-button">See all blocks</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
