<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<section class='horizontal-padding-xs horizontal-padding-s horizontal-padding-m horizontal-padding-l double' ng-init="queryHelpActive = false">
	<div class="form-group">
		<form data-ng-submit="performSearch()">
			<input
				type="text"
				class="form-control filter-query-box"
				placeholder="Filter transactions..."
				autocomplete="off"
				data-ng-model="queryText"
				data-ng-focus="queryBoxActive = true">
		</form>
	</div>
	<div data-ng-show="queryBoxActive" class="panel panel-default" data-ng-click="queryBoxActive = true">
		<div class="panel-body">
			<a href="" class="pull-right" data-ng-click="queryBoxActive = false">Close [x]</a>
			<h4>Available params</h4>
			<p><span data-ng-repeat="param in availableSearchParams">{{ param.key }}, </span></p>
			<h4>Examples</h4>
			<span data-ng-repeat="i in [0,4,6,7]"><strong>{{ availableSearchParams[i].key }}</strong>={{ availableSearchParams[i].example }} </span><br>
			<span data-ng-repeat="i in [3,5,8]" class="hidden-xs"><strong>{{ availableSearchParams[i].key }}</strong>={{ availableSearchParams[i].example }} </span><br>
			</p>
			<p>For detailed instruction <a href="" ng-model="queryHelpActive" data-ng-click="queryHelpActive = true">click here...</a></p>
		</div>
	</div>
	<div data-ng-show="queryHelpActive" class="panel panel-default">
		<div class="panel-body">
			<a href="" class="pull-right" data-ng-click="queryHelpActive = false">Close [x]</a>
			<table class="table transactions">
				<thead>
					<th>Param</th>
					<th class="hidden-xs">Name</th>
					<th>Example</th>
				</thead>
				<tbody>
					<tr data-ng-repeat="param in availableSearchParams">
						<td>{{ param.key }}</td>
						<td class="hidden-xs">{{ param.name }}</td>
						<td>{{ param.example }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
