<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="navbar navbar-default navbar-fixed-top" role='navigation'>
	<nav class="main-header">
		<div class="container fadein">
			<div id="header" role="navigation" class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<div class="logo" title="Lisk"></div>
						<span class="nethash text-center" ng-if="showNethash(blockStatus.nethash | nethash)">{{blockStatus.nethash | nethash}}</span>
					</a>
				</div>
				<div class="navbar-collapse" data-ng-class="{collapse: $root.isCollapsed}">
					<search class="navbar-form navbar-left hidden-xs" />
					<ul class="nav navbar-nav navbar-right">
						<currency-selector />
						<li class="dropdown" data-uib-dropdown>
							<a href id="main-menu-dropdown" class="dropdown-toggle tools-menu" data-uib-dropdown-toggle data-aria-haspopup="true" role="button" data-aria-expanded="false">Tools <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" data-aria-labelledby="main-menu-dropdown">
								<li>
									<a href="/topAccounts" class="top-accounts">Top Accounts</a>
								</li>
								<li>
									<a href="/activityGraph" class="activity-graph">Activity Graph</a>
								</li>
								<li>
									<a href="/delegateMonitor" class="delegate-monitor">Delegate Monitor</a>
								</li>
								<li data-ng-if="$root.marketWatcher">
									<a href="/marketWatcher" class="market-watcher">Market Watcher</a>
								</li>
								<li>
									<a href="/networkMonitor" class="network-monitor">Network Monitor</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav class="network-status hidden-xs">
		<div class="container fadein" data-ng-show="blockStatus">
			<div class="row text-left">
				<span class="height col-md-3 col-sm-6">Height: {{blockStatus.height | number:0}}</span>
				<span class="supply col-md-3 col-sm-6">Supply: {{blockStatus.supply | lisk | number:0}}</span>
				<span class="lisk-btc col-md-3 col-sm-6">LSK/BTC: {{currency.tickers.LSK.BTC || 'N/A'}}</span>
				<span class="lisk-usd col-md-3 col-sm-6">LSK/{{currency.tickers.LSK[currency.symbol] && currency.symbol !== 'BTC' ? currency.symbol : 'USD'}}: {{currency.tickers.LSK[currency.symbol] && currency.symbol !== 'BTC' ? (currency.tickers.LSK[currency.symbol] | number:4) : (currency.tickers.LSK.USD | number:4) || 'N/A'}}</span>
			</div>
		</div>
	</nav>
</div>
