<div class="line-bot row" data-ng-hide="!tx">
  <div class="col-xs-7">
    <div class="ellipsis">
      <a class="txid" href="/tx/{{tx.id}}">{{tx.id}}</a>
      <span class="btn-copy" clip-copy="tx.id"></span>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="ellipsis text-right">
    	<span data-ng-if="!block.confirmations && !tx.confirmations" class="text-danger">Unconfirmed Transaction!</span>
    	<span data-ng-if="block.confirmations > 0 || tx.confirmations > 0" class="text-success">{{block.confirmations || tx.confirmations}} Confirmations</span> | 
      <span class="text-muted">{{tx.timestamp | timeAgo }}</span>
    </div>
  </div>
</div>
<div class="row line-mid" data-ng-hide="!tx" style="padding: 15px 15px 0 15px">
  <div class="col-md-3">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="ellipsis">
            <a href="/address/{{tx.senderId}}">{{tx | txSender}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <span class="txvalues txvalues-default" style="width:100%">Fee: {{tx.fee | currency:currency}} {{currency.symbol}}</span>
  </div>
  <div class="col-md-1">
    <div class="hidden-xs hidden-sm text-center">
    <span class="lead glyphicon glyphicon-arrow-right text-muted" data-ng-class="{
      'text-danger': tx.type == 0 && $parent.address.address == tx.senderId && tx.senderId != tx.recipientId,
      'text-success': tx.type == 0 && $parent.address.address && tx.senderId != $parent.address.address,
      'text-muted': tx.type != 0
    }"></span>
    </div>
    <div class="hidden-md hidden-lg text-center">
      <span class="lead glyphicon glyphicon-arrow-down text-muted" data-ng-class="{
        'text-danger': tx.type == 0 && $parent.address.address == tx.senderId && tx.senderId != tx.recipientId,
        'text-success': tx.type == 0 && $parent.address.address && tx.senderId != $parent.address.address,
        'text-muted': tx.type != 0
      }"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="ellipsis" data-ng-show="tx.type == 0">
              <a href="/address/{{tx.recipientId}}">{{tx | txRecipient}}</a>
            </div>
            <div class="ellipsis" data-ng-show="tx.type >= 1">{{tx | txType}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <span class="txvalues txvalues-primary" style="width:100%" data-ng-class="{
      'txvalues-danger': tx.type == 0 && $parent.address.address == tx.senderId && tx.senderId != tx.recipientId,
      'txvalues-success': tx.type == 0 && $parent.address.address && tx.senderId != $parent.address.address,
      'txvalues-default': tx.type != 0
    }">{{tx.amount | currency:currency}} {{currency.symbol}}</span>
  </div>
</div>
