<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<li class="dropdown" data-uib-dropdown>
	<a href id="main-menu-dropdown" class="dropdown-toggle tools-menu" data-uib-dropdown-toggle data-aria-haspopup="true" role="button" data-aria-expanded="false">Tools <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu" data-aria-labelledby="main-menu-dropdown">
		<li><a href="/txs/" class="top-accounts hidden-md hidden-lg">Transaction browser</a></li>
		<li><a href="/blocks/" class="top-accounts hidden-md hidden-lg">Block browser</a></li>
		<li role="separator" class="divider hidden-md hidden-lg" style="clear:both;"></li>
		<li><a href="/delegateMonitor" class="delegate-monitor hidden-lg">Delegate Monitor</a></li>
		<li><a href="/networkMonitor" class="network-monitor hidden-lg">Network Monitor</a></li>
		<li role="separator" class="divider hidden-lg" style="clear:both;"></li>
		<li><a href="/topAccounts" class="top-accounts">Top Accounts</a></li>
		<li><a href="/activityGraph" class="activity-graph">Activity Graph</a></li>
		<li data-ng-if="$root.marketWatcher"><a href="/marketWatcher" class="market-watcher">Market Watcher</a></li>
	</ul>
</li>
