<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<td data-title="Transaction ID" class="left-padding-m left-padding-l double">
	<span class="visible-lg visible-xs">
		<a class="txid" href="/tx/{{tx.id}}">{{tx.id}}</a>
		<span class="btn-copy pull-right right-padding-xs right-padding-s" clip-copy="tx.id"></span>
	</span>
	<span class="hidden-lg hidden-xs">
		<span class="btn-copy pull-right right-padding-xs right-padding-s" clip-copy="tx.id" data-on-hover="{{tx.id}}"></span>
	</span>
</td>
<td class="hidden-sm" data-title="Date">
	<span class="hidden-md">{{tx.timestamp | timestamp }}</span>
	<a class="visible-md" href="/tx/{{tx.id}}">{{tx.timestamp | timestamp }}</a>
</td>
<td data-title="Sender">
	<a data-ng-if="tx.senderId !== address" data-account-href="tx" data-type="sender">{{tx | txSender}}</a>
	<span data-ng-if="tx.senderId === address">{{tx | txSender}}</span>
</td>
<td data-title="Recipient">
	<a data-ng-if="tx.type == 0 && tx.recipientId !== address" data-account-href="tx" data-type="recipient">{{tx | txRecipient}}</a>
	<span data-ng-if="tx.type == 0 && tx.recipientId === address">{{tx | txRecipient}}</span>
	<span data-ng-if="tx.type >= 1">{{tx | txType}}</span>
</td>
<td data-title="Amount" class="amount text-right">
	<span class="txvalues" data-ng-class="{
	'tx-outgoing': tx.type == 0 && address == tx.senderId && tx.senderId != tx.recipientId,
	'tx-incoming': tx.type == 0 && address && tx.senderId != address,
	'tx-other': tx.type != 0 || address === undefined || tx.senderId === tx.recipientId
	}">{{tx.amount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}
	</span>
</td>
<td data-title="Fee" class="text-nowrap text-right hidden-sm"><span>{{tx.fee | currencyFee:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span></td>
<td data-title="Confirmations" class="text-right right-padding-m right-padding-l double">
	<span class="visible-lg">
		<span data-ng-if="!block.confirmations && !tx.confirmations" class="text-danger">
			Transaction unconfirmed!&nbsp;<i class="glyphicon glyphicon-alert"></i>
		</span>
		<span data-ng-if="(block.confirmations > 0  && block.confirmations < 39) || (tx.confirmations > 0 && tx.confirmations < 39)" 
			class="text-warning">
			{{block.confirmations || tx.confirmations}}&nbsp;/&nbsp;39&nbsp;<i class="glyphicon glyphicon-time"></i>
		</span>
		<span data-ng-if="block.confirmations >= 39 || tx.confirmations >= 39"
			class="text-success"
			data-uib-tooltip="{{block.confirmations || tx.confirmations}} confirmations">
			Confirmed&nbsp;<i class="glyphicon glyphicon-ok"></span>
		</span>
	</span>
	<span class="hidden-lg">
		<span data-ng-if="!block.confirmations && !tx.confirmations" class="text-danger">
			<i class="glyphicon glyphicon-alert">
		</span>
		<span data-ng-if="(block.confirmations > 0  && block.confirmations < 39) || (tx.confirmations > 0 && tx.confirmations < 39)" 
			class="text-warning" 
			data-uib-tooltip="{{block.confirmations || tx.confirmations}}&nbsp;confirmations (39&nbsp;required)">
			<i class="glyphicon glyphicon-time">
		</span>
		<span data-ng-if="block.confirmations >= 39 || tx.confirmations >= 39"
			class="text-success"
			data-uib-tooltip="{{block.confirmations || tx.confirmations}}&nbsp;confirmations">
			<i class="glyphicon glyphicon-ok"></span>
		</span>
	</span>
</td>
