<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<td data-title="Transaction ID" class="text-nowrap left-padding-m left-padding-l double">
	<a class="txid" href="/tx/{{tx.id}}">{{tx.id}}</a>
	<span class="btn-copy" clip-copy="tx.id"></span>
</td>
<td data-title="Date" class="hidden-md"><span>{{tx.timestamp | timestamp }}</span></td>
<td data-title="Sender">
	<a ng-if="tx.senderId !== address" data-account-href="tx" data-type="sender">{{tx | txSender}}</a>
	<span ng-if="tx.senderId === address">{{tx | txSender}}</span>
</td>
<td data-title="Recipient" data-ng-if="tx.type == 0">
	<a ng-if="tx.recipientId !== address" data-account-href="tx" data-type="recipient">{{tx | txRecipient}}</a>
	<span ng-if="tx.recipientId === address">{{tx | txRecipient}}</span>
</td>
<td data-title="Recipient" data-ng-if="tx.type >= 1"><span>{{tx | txType}}</span></td>
<td data-title="Amount" class="amount">
	<span class="txvalues" data-ng-class="{
	'tx-outgoing': tx.type == 0 && address == tx.senderId && tx.senderId != tx.recipientId,
	'tx-incoming': tx.type == 0 && address && tx.senderId != address,
	'tx-other': tx.type != 0 || address === undefined || tx.senderId === tx.recipientId
	}">{{tx.amount | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}
	</span>
</td>
<td data-title="Fee" class="text-nowrap hidden-md"><span>{{tx.fee | currency:$root.currency}} {{$root.currency.symbol}}</span></td>
<td data-title="Confirmations" class="right-padding-m right-padding-l">
	<span data-ng-if="!block.confirmations && !tx.confirmations" class="text-danger">Unconfirmed Transaction!</span>
	<span data-ng-if="(block.confirmations > 0  && block.confirmations < 101) || (tx.confirmations > 0 && tx.confirmations < 101)" class="text-warning">{{block.confirmations || tx.confirmations}}</span>
	<span data-ng-if="block.confirmations >= 101 || tx.confirmations >= 101" class="text-success" data-uib-tooltip="{{block.confirmations || tx.confirmations}} Confirmations">Confirmed</span>
</td>
