<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div class="row horizontal-padding-xs horizontal-padding-s horizontal-padding-l" data-ng-if="!txs.loading && !txs.results.length">
	<div class="col-md-12">
		<div class='empty-state'>
			<h2>No transactions</h2>
			<p>There are no transactions involving this {{txs.parent}}.</p>
		</div>
	</div>
</div>
<div id="table-mobile" class="table-responsive" data-ng-if="txs.results.length">
	<table class="table transactions">
		<thead>
			<tr>
				<th class="left-padding-xs left-padding-s left-padding-m left-padding-l double" role="button" data-ng-class="filter.predicate === 'id' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('id')">
					<span class="hidden-md">
						Transaction ID
						<i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'id'"></i>
					</span>
					<span class="visible-md">ID</span>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'timestamp' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('timestamp')">
					<span>Date</span><i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'timestamp'"></i>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'senderId' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('senderId')">
					<span>Sender</span><i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'senderId'"></i>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'recipientId' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('recipientId')">
					<span>Recipient</span><i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'recipientId'"></i>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'amount' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('amount')" class="amount text-right">
					<span>Amount</span><i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'amount'"></i>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'fee' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('fee')" class="text-nowrap text-right">
					<span>Fee</span><i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'fee'"></i>
				</th>
				<th role="button" data-ng-class="filter.predicate === 'confirmations' ? 'text-primary' : 'text-muted'" data-ng-click="filter.setPredicate('confirmations')" class="text-right right-padding-m right-padding-l double">
					<span class="hidden-md">Confirm.<i class="glyphicon" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="filter.predicate === 'confirmations'"></i></span>
					<span class="visible-md"><i class="glyphicon glyphicon-check" style="left:0"></i></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-transaction-item data-address="address" data-tx="tx" data-ng-repeat="tx in txs.results | orderBy:filter.predicate:filter.reverse:filter.order track by tx.id"></tr>
		</tbody>
	</table>
	<nav>
		<ul class="nav-pagination">
			<li data-ng-disabled="!txs.hasPrev">
				<button data-ng-class="{{txs.page}} === 1 || {{txs.page}} === 0 ? 'btn-pagination-inactive' : 'btn-pagination'" data-ng-disabled="!txs.hasPrev" data-ng-click="txs.loadPageOffset(-1)"><i class="fas fa-caret-left fa-lg"></i></button>
			</li>
			<li role="presentation" class="nav-item"  data-ng-repeat="page in txs.pages">
				<a href="txs/{{page}}" data-ng-class="{{txs.page}} === {{page}} ? 'curr-page' : 'tx-other'">{{ page }}</a>
			</li>
			<li data-ng-disabled="!txs.hasNext">
				<a href="#" aria-label="Next">
					<button class="btn-pagination" data-ng-disabled="!txs.hasNext" data-ng-click="txs.loadPageOffset(1)"><i class="fas fa-caret-right fa-lg"></i></button>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div class="progress progress-striped horizontal-padding-xs horizontal-padding-s horizontal-padding-m horizontal-padding-l double  active" data-ng-if="txs.loading">
	<div class="wrapper">
		<div class="progress-bar progress-bar-loading" style="width: 100%">
			<span>Loading Transactions...</span>
		</div>
	</div>
</div>