<!--
/*
 * LiskHQ/lisk-explorer
 * Copyright © 2018 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 */
-->
<div id="table-mobile" class="table-responsive" data-ng-if="txs.results.length">
	<table class="table transactions transactions-table">
		<thead>
			<tr>
				<th class="left-padding-xs left-padding-s left-padding-m left-padding-l double text-muted">
					<span class="visible-lg">Transaction ID</span>
					<span class="hidden-lg">ID</span>
				</th>
				<th class="hidden-sm" role="button" data-ng-class="txs.activeSort.predicate === 'timestamp' ? 'text-primary' : 'text-muted'" data-ng-click="txs.applySort('timestamp')">
					<span>Date</span><i class="glyphicon" data-ng-class="txs.activeSort.direction === 'desc' ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="txs.activeSort.predicate === 'timestamp'"></i>
				</th>
				<th class="text-muted">
					<span>Sender</span>
				</th>
				<th class="text-muted">
					<span>Recipient</span>
				</th>
				<th role="button" data-ng-class="txs.activeSort.predicate === 'amount' ? 'text-primary' : 'text-muted'" data-ng-click="txs.applySort('amount')" class="amount text-right">
					<span>Amount</span><i class="glyphicon" data-ng-class="txs.activeSort.direction === 'desc' ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="txs.activeSort.predicate === 'amount'"></i>
				</th>
				<th class="hidden-sm" role="button" data-ng-class="txs.activeSort.predicate === 'fee' ? 'text-primary' : 'text-muted'" data-ng-click="txs.applySort('fee')" class="text-nowrap text-right">
					<span>Fee</span><i class="glyphicon" data-ng-class="txs.activeSort.direction === 'desc' ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" ng-if="txs.activeSort.predicate === 'fee'"></i>
				</th>
				<th class="text-right right-padding-m right-padding-l double text-muted">
					<span class="visible-lg">Confirm.</span>
					<span class="hidden-lg"><i class="glyphicon glyphicon-check" style="left:0"></i></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-transaction-item data-address="address" data-tx="tx" data-ng-repeat="tx in txs.results track by tx.id"></tr>
		</tbody>
	</table>
	<nav>
		<ul class="nav-pagination mobile-xs-hidden">
			<li data-ng-disabled="!txs.hasPrev">
				<button data-ng-class="!txs.hasPrev ? 'btn-pagination-inactive' : 'btn-prev'" data-ng-disabled="!txs.hasPrev" data-ng-click="txs.loadPageOffset(-1)"><i class="fas fa-caret-left fa-lg"></i></button>
			</li>
			<li role="presentation" class="nav-item"  data-ng-repeat="page in txs.pages">
				<a href="#" data-ng-class="{{txs.page}} === {{page}} ? 'curr-page' : 'tx-pagination-num'" data-ng-click="txs.loadPage(page)">{{ page }}</a> 
			</li>
			<li data-ng-if="!txs.pages && txs.page" role="presentation" class="nav-item">
				Page <span class="address-currpage">{{txs.page}}</span><span ng-if="txs.numberOfPages">&nbsp;of&nbsp;<span class="address-currpage">{{txs.numberOfPages}}</span></span>
			</li>
			<li data-ng-disabled="!txs.hasNext">
				<a href="#" aria-label="Next">
					<button data-ng-class="txs.hasNext ? ' btn-next' : 'btn-pagination-inactive'" data-ng-disabled="!txs.hasNext" data-ng-click="txs.loadPageOffset(1)"><i class="fas fa-caret-right fa-lg"></i></button>
				</a>
			</li>
		</ul>
		<ul class="nav-pagination mobile-xs-visible">
			<li data-ng-disabled="!txs.hasPrev">
				<button data-ng-class="!txs.hasPrev ? 'btn-pagination-inactive' : 'btn-prev'" data-ng-disabled="!txs.hasPrev" data-ng-click="txs.loadPageOffset(-1)"><i class="fas fa-caret-left fa-lg"></i></button>
			</li>
			<li class="mobile-xs-txs-page" role="presentation" class="nav-item">
				Page <span>{{ txs.page }}</span>
			</li>
			<li data-ng-disabled="!txs.hasNext">
				<a href="#" aria-label="Next">
					<button data-ng-class="txs.hasNext ? 'btn-next' : 'btn-pagination-inactive'" data-ng-disabled="!txs.hasNext" data-ng-click="txs.loadPageOffset(1)"><i class="fas fa-caret-right fa-lg"></i></button>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div class="progress progress-striped horizontal-padding-xs horizontal-padding-s horizontal-padding-m horizontal-padding-l double  active" data-ng-if="txs.loading && !txs.results.length">
	<div class="wrapper">
		<div class="progress-bar progress-bar-loading" style="width: 100%">
			<span>Loading Transactions...</span>
		</div>
	</div>
</div>
<div class="row horizontal-padding-xs horizontal-padding-s horizontal-padding-l" data-ng-if="!txs.loading && !txs.results.length">
	<div class="col-md-12">
		<div class='empty-state'>
			<h2>No transactions</h2>
			<p>There are no transactions found.</p>
		</div>
	</div>
</div>
