<!doctype html>
<html lang="en" data-ng-csp>
<!--
 *
 * Copyright © 2017 Lisk Foundation
 *
 * See the LICENSE file at the top-level directory of this distribution
 * for licensing information.
 *
 * Unless otherwise agreed in a custom licensing agreement with the Lisk Foundation,
 * no part of this software, including this file, may be copied, modified,
 * propagated, or distributed except according to the terms contained in the
 * LICENSE file.
 *
 * Removal or modification of this copyright notice is prohibited.
 *
 * Lisk Explorer Version: <%= htmlWebpackPlugin.options.version %>
 *-->
<head>
	<base href="/">
	<title data-ng-bind="'Lisk - Blockchain Explorer - ' + $root.title + $root.titleDetail">Lisk - Blockchain Explorer</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="fragment" content="!">
	<meta name="keywords" content="lisk, lisk, blocks, altcoin">
	<meta name="description" content="Lisk Blockchain Explorer">
	<meta name="application-name" content="Lisk Blockchain Explorer"/>
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
	<% if (htmlWebpackPlugin.options.serviceName && htmlWebpackPlugin.options.clientId) { %>
		<meta name="<%= htmlWebpackPlugin.options.serviceName %>" content="<%= htmlWebpackPlugin.options.clientId %>">
	<% } %>
	<!--<link rel="stylesheet" href="/css/main.min.css">-->
	<base href="/">
</head>
<body data-ng-cloak class="ng-cloak">
	<div id="wrap">
		<main-header></main-header>
		<info-banner></info-banner>
		<section class="container">
			<bread-crumb></bread-crumb>
			<div data-ui-view class='main-view'></div>
		</section>
		<cookies-banner></cookies-banner>
	</div>
	<main-footer></main-footer>
	<div class='splash-screen'>
		<div class='background-stripes'>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
				<span class='stripe'></span>
		</div>
	</div>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NKNKGHL');</script>
	<!-- End Google Tag Manager -->

</body>
</html>
